<!DOCTYPE html>
<html>
    <head>
        <title> Stop watch</title>
        <link rel="stylesheet" href="D:\\Personal\\Prodigy Web dev intern\\task-2\\templates\\stopwatch.css">
    </head>
    <body>
        <div class="div">
            <div class="div1">
                <div class="div2">
                    <div class="div3">
                        <span class="min">00 :</span>
                        <span class="sec"> 00 :</span>
                        <span class="msec"> 00 </span>
                    </div>
                </div>
            </div>
            <div class="div4">&nbsp;
                <button class="reset hidden">reset</button>&nbsp;&nbsp;
                <button class="start">Start</button>&nbsp;&nbsp;
                <button class="lap hidden">lap</button>
            </div>
            <ul class="laps">
                <!-- <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="clear">Clear</button><br><br> -->
            </ul>
        </div>

        <script src="stopwatch_js.js">

        </script>
        
    </body>
</html>